.hero {
    display: flex;
    flex-direction: column;
}

.hero-images {
    width: 50vw;
}

span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-text {
    width: 45vw;
    padding: 5px;
}

@media (min-width: 700px) {
    .hero-text {
        width: 30vw;
        padding: 5px;
    }

    .hero {
        margin: 50px 0;
    }
}

@media (min-width: 1200px) {
    .hero {
        display: flex;
        flex-direction: row;
    }

    .hero > span {
        display: flex;
        flex-direction: column;
    }

    .hero > span:last-child {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-images {
        width: 35vw;
    }

    .hero-text {
        font-size: 25px;
    }
}
